<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/projects.css">
</head>

<body>
  <div class="container">
    <%- include('../includes/navigation.ejs') %>
    <div class="top-container">
        <div class="top">
          <div class="top-left-container">
            <h2>Projects</h2>
          </div>
          <div class="top-right-container">
            <button id="openModalBtn" class="btn new-project">
              <svg class="new-project-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
              </svg>
              <span>New project</span>
            </button>
            <div id="myModal" class="new-project-modal">
              <div class="modal-content">
                <span class="create-new-project-title">Create new project</span>
                <span class="close">&times;</span>
                <form class="create-new-project-form" method="post" action="/projects">
                  <div class="color-input-container">
                    <div class="modal">
                      <div class="circle" id="colorCircle" value></div>
                      <div class="colorPicker" id="colorPicker">
                        <div class="color" style="background-color: red;" onclick="changeColor('red')" data-color="red"></div>
                        <div class="color" style="background-color: blue;" onclick="changeColor('blue')" data-color="blue"></div>
                        <div class="color" style="background-color: green;" onclick="changeColor('green')" data-color="green"></div>
                        <div class="color" style="background-color: rgb(11, 131, 217);" onclick="changeColor('rgb(11, 131, 217)')" data-color="rgb(11, 131, 217)"></div>
                        <div class="color" style="background-color: rgb(147, 162, 2);" onclick="changeColor('rgb(147, 162, 2)')" data-color="rgb(147, 162, 2)"></div>
                      </div>
                    </div>
                    <div class="project-input-container">
                      <input type="text" id="projectName" oninput="validateInput()" onblur="showErrorMessage()" name="name" placeholder="Project name" class="create-new-project-input"/>
                      <span id="errorMessage" class="input-message-hidden">Please enter a Project name</span>
                    </div>
                  </div>
                  <div class="create-project-btn-container">
                    <button type="submit" class="btn create-project-btn">Create project</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-container-flex">
        <div class="bottom-container">
          <% if (projs.length > 0) { %>
          <table>
            <thead>
              <tr>
                <th class="second-th">
                  <div class="title-arrows-container">
                    <span>Project</span>
                    <div class="arrows-container">
                      <svg class="up-arrow" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
                      </svg>
                      <svg class="down-arrow" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                      </svg>                      
                    </div>
                </div>
              </th>
              <th class="third-th">
                <div class="title-arrows-container">
                  <span>Client</span>
                  <div class="arrows-container">
                    <svg class="up-arrow" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
                    </svg>
                    <svg class="down-arrow" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                    </svg>                      
                  </div>
              </div>
            </th>
            <th class="fifth-th">
              <div class="title-arrows-container">
                <span>Time</span>
                <div class="arrows-container">
                  <svg class="up-arrow" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
                  </svg>
                  <svg class="down-arrow" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                  </svg>                      
                </div>
            </div>
          </th>
          <th class="sixth-th">
              <span>User</span>
        </th>
              </tr>
            </thead>
            <tbody>
                <% for (let project of projs) { %>
                <tr>
                  <td>
                    <div class="<%= project.color  %> dot">

                    </div>
                    <%= project.name %></td>
                  <td></td>
                  <% if (project.time === undefined) { %>
                  <td>0 h</td>
                  <% } else { %>
                    <td><%= project.time %>h</td>
                    <% } %>
                  <td></td>
                </tr>
                <% } %>
              </tbody>
            </table>
            <% } else { %>
              <h1>You haven't created any projects yet!</h1>
              <% } %>
        </div>
      </div>
  </div>
  <script src="/js/projects.js"></script>
<%- include('../includes/end.ejs') %>